@{
    Layout = @"/_layout.cshtml";
}
@{
    IDocument topicDocument = Outputs[$"{Constants.BlogPath}/categories/{Model.GetString("Category")}/index.html"].First();
    <section class="page-section">
        <div class="row">
            <div class="col-12">
                <article class="post">
                    <header>
                        <h2 itemprop="headline name" class="text-primary">@Model.GetTitle()</h2>
                        <div class="bh">
                            <time datetime="@Model.GetString("Published")" itemprop="datePublished">@Model.GetDateTime("Published").ToString("MMMM dd, yyyy")</time>
                            @if (topicDocument != null)
                            {
                                <a href="@(topicDocument.GetLink())"><span class="badge badge-light">@topicDocument.GetTitle()</span></a>
                            }
                        </div>
                    </header>
                    <hr />
                    <div itemprop="articleBody">
                        @RenderBody()
                    </div>
                    <div class="collapse" aria-hidden="true" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                        <meta itemprop="name" content="@Model.GetString("Author")">
                    </div>
                    <meta itemprop="dateModified" content="@Model.GetString("Modified")">
                </article>
            </div>
        </div>
    </section>
    <script id="dsq-count-scr" src="//jtmaher2-github-io.disqus.com/count.js" async></script>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    
        var disqus_config = function () {
        this.page.url = '@Context.GetLink(Model, true)';  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = '@(Model.Destination.FileNameWithoutExtension.FullPath)'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
    
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//jtmaher2-github-io.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
}

@section head {
    <meta property="og:type" content="article">
    <meta property="og:title" content="@Model.GetTitle()">
}